#root {
	height: 100%;
}

.lock {
	overflow: hidden;
}

.wrapper {
	margin: 50px auto;
	min-height: 100%;
	max-width: 1080px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.page {
	flex: 1 1 auto;
}

.container {
	max-width: 991px;
	width: 100%;
	margin: 0 auto;
	padding-inline: 15px;
}

@media (max-width: 565px) {
	.wrapper {
		margin: 0 auto;
	}
}
